.address {
  font-style: inherit;
  margin-top: 20px;

  @media screen and (max-width: $mobile-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__location {
    color: $white;
    text-decoration: none;
  }

  &__contacts {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop) {
      margin-top: 9px;
      display: block;
    }
  }

  &__link {
    color: $grey-light;
    text-decoration: none;
  }

  &__item + &__item {
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
      margin-top: 9px;
    }
  }
}
