footer {
  color: Swhite;
  background-color: $dark;
}

.footer {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

@media screen and (max-width: $tablet-max) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
