h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--grey-main);
  font-family: roboto, raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
